name: Markdown Lint

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  rumdl-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: rvben/rumdl@440f587c1cfa45f1ea7fbe882eac97ea18f292a4 # v0.1.30
